/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2019, 20:08:55
    Author     : Miguel
*/



body{
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
.nav{
    color: white;
}
.nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "contenido contenido sidebar"
                         "footer footer footer";
    
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido{
    grid-area: contenido;
}

.contenedor .sidebar{
    grid-columns: 3/4;
    background: blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    
}
.contenedor .footer{
    background: #12203E;
    color: #fff;
    grid-area: footer;
}

@media screen and (max-width: 768px){
    .contenedor {
        grid-template-areas: "header header header"
                                "contenido contenido contenido"
                                "sidebar sidebar sidebar"
                                "footer footer footer"
    }
}

/* Estilos para el enlace3 y enlace4*/

.contenedor2{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "contenido contenido contenido"
                            "footer footer footer";
}

.contenedor2 > div,
.contenedor2 .header,
.contenedor2 .contenido2,
.contenedor2 .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor2 .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor2 .contenido2 {
	grid-area: contenido;
}

.contenido2{
    border: 1px solid #000000;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    padding: 10px;
}

.contenedor2 .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px){
    .contenedor2 {
        grid-template-areas: "header header header"
                                "contenido contenido contenido"
                                "contenido contenido contenido"
                                "footer footer footer"
    }
}

.imagen1{
    width: 200px;
    height: 200px;
}
.imagen2{
     width: 200px;
    height: 200px;
}
.imagen3{
     width: 200px;
    height: 200px;
}
.imagen4{
     width: 200px;
    height: 200px;
}
.imagen5{
     width: 200px;
    height: 200px;
}
.imagen6{
     width: 200px;
    height: 200px;
}
.imagen7{
     width: 200px;
    height: 200px;
}
.imagen8{
     width: 200px;
    height: 200px;
}
.imagen9{
     width: 200px;
    height: 200px;
}



/*  estilo para las tablas*/


table{
    caption-side: bottom;
    empty-cells: hide;
    border-spacing: 0px;
    
}
td{
    
    border-style: inset;
    border-color: #FFFFF0;
    empty-cells: hide;
}
th{
    border-collapse: collapse;
    border-style: inset;
    border-color:#FFFFF0;
}
.sada{
    border-collapse: collapse; 
    background-color:#ADD8E6;
    color:  #0000CD;
}
.tris{
    border-collapse: collapse;
    background-color:#FFBBBB;
    color: #0000CD;
}
.res{
    border-collapse: collapse;
    background-color:  #E6E6FA;
    color: #0000CD
}


/* Estilos para el formulario*/


legend{
    background-color: #12203E;
    color: white;
    padding: 10px;
    font-weight: bolder;
}
fieldset{
    background-color: #E6E6FA;
    border: solid 2px #12203E;
    padding: 5px;
    margin: 6px 4px;
}


/* Animacion*/


.sidebar{
    
    background-color: red;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 10s;

}
/* Chrome, Safari, Opera */
 @-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}




.pseudo-elemento::after{
    content:  "<-Nullam ut erat sit amet elit ultricies tempor vel eget magna.!";
    font-family: capitular;
    color: green;
}


video{
    width: 100%;
    height: auto;
}
